<footer class="footer">
  <div class="container">
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-nav-link" href="#about-us">About us</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-nav-link" href="#our-collection">Our collection</a>
        </li>
      </ul>
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-nav-link" href="#your-order">CUSTOMER ORDER</a>
        </li>
        <li class="footer-list-item">
          <a class="footer-nav-link" href="#testimonials">TEstimonials</a>
        </li>
      </ul>
    </nav>
    <h1 class="footer-heading">
      A touch of
      <span class="section-title">Ukrainian</span> culture in every embroidery
    </h1>
  </div>
</footer>
<a href=""></a>
