<header>
  <div class="header-container container">
    <nav class="header-nav">
      <a href="#">
        <img src="../img/logo-header.svg" alt="title-logo" class="svg-icon" />
      </a>
      <div class="nav-one">
        <ul class="navigation-one">
          <li class="li-nav-one">About us</li>
          <li class="li-nav-one">Our collection</li>
          <li class="li-nav-one">CUSTOMER ORDER</li>
          <li class="li-nav-one">Testimonials</li>
        </ul>
      </div>
    </nav>
    <address class="address">
      <ul class="ul-nav">
        <li class="li-nav">
          <a href="https://www.facebook.com/goITclub/">
            <svg class="header-social-svg" width="44" height="39">
              <use href="../img/social-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-youtube"></use>
          </svg>
        </li>
        <li class="li-nav">
          <button type="button" class="button-menu">
            <svg class="menu-icon">
              <use href="../img/social-svg.svg#icon-Nav"></use>
            </svg>
          </button>
        </li>
      </ul>
    </address>
  </div>
</header>
