<header>
  <div class="header container">
    <nav class="header-nav">
      <a href="#">
        <img src="../img/logo (8).svg" alt="title-logo" class="svg-icon" />
      </a>
      <ul class="ul-nav">
        <li class="li-nav">
          <a href="https://www.facebook.com/goITclub/">
            <svg class="header-social-svg" width="44" height="39">
              <use href="../img/social-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-youtube"></use>
          </svg>
        </li>
        <li class="li-nav">
          <input class="navigation-toogle" type="checkbox" id="toogle" />
          <label class="navigation-btn" for="toogle">
            <span class="navigation-icon"></span>
          </label>
        </li>
      </ul>
    </nav>
  </div>
</header>
