<header>
  <div class="header-container container">
    <nav class="header-nav">
      <a href="#">
        <img
          src="../img/logo-header.svg"
          alt="title-logo"
          class="svg-icon"
          width="44"
          height="39"
        />
      </a>

      <ul class="navigation-one">
        <li class="li-nav-one">
          <a href="">About us</a>
        </li>
        <li class="li-nav-one">
          <a href="">Our collection</a>
        </li>
        <li class="li-nav-one">
          <a href="">Customer Order</a>
        </li>
        <li class="li-nav-one"><a href="">Tsestimonial</a></li>
      </ul>
    </nav>
    <address class="address">
      <ul class="ul-nav">
        <li class="li-nav">
          <a href="tel:+380684439426" class="teleph">+380 (68) 443-94-26</a>
        </li>
        <li class="li-nav">
          <a href="https://www.facebook.com/goITclub/">
            <svg class="header-social-svg" width="44" height="39">
              <use href="../img/social-svg.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="li-nav">
          <svg class="header-social-svg" width="44" height="39">
            <use href="../img/social-svg.svg#icon-youtube"></use>
          </svg>
        </li>
        <li class="li-nav">
          <button type="button" class="button-menu">
            <svg class="menu-icon">
              <use href="../img/social-svg.svg#icon-Nav"></use>
            </svg>
          </button>
        </li>
      </ul>
    </address>
  </div>
</header>
