<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-wrap">
      <div class="hero-one">
        <h1 class="hero-title section-title">
          Reviving the traditional <span>Ukrainian</span> artistry in every
          stitch.
        </h1>
        <a href="#you-order" class="hero-buy-btn"
          >Order<svg class="hero-btn-icon" width="26" height="10">
            <use href="./img/icons.svg#icon-3-1"></use></svg
        ></a>
      </div>
      <picture>
        <source
          srcset="
            ./img/first_sec_girl_deck_1x-min.jpg 1x,
            ./img/first_sec_girl_deck_2x-min.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./img/first_sec_girl_tab_1x-min.jpg 1x,
            ./img/first_sec_girl_tab_2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/first_sec_girl_mob_1x-min.jpg 1x,
            ./img/first_sec_girl_mob_2x-min.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./img/first_sec_girl_deck_1x-min.jpg"
          alt="girl in greey vyshyvanca"
          width="413"
          height="575"
          class="hero-img"
        />
      </picture>
    </div>
    <div class="star">
      <svg class="star-icon" width="52" height="51">
        <use href="./img/icons.svg#icon-Star-10-1"></use>
      </svg>
      <p class="star-text">all embroidery is made by hand</p>
    </div>
    <picture>
      <source
        srcset="./img/group-dt-1x.png 1x, ./img/group-dt-2x.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/group-tab-1x.png 1x, ./img/group-tab-2x.png 2x"
        media="(min-width: 768px)"
      />
      <img
        src="./img/group-tab-1x.png "
        alt="girl in greey vyshyvanca"
        width="157"
        height="191"
        class="hero-ukr-img"
      />
    </picture>
  </div>
</section>
