<section class="our_coll" id="our_collection"> 
    <div class="container container_coll our_container">
        <h2 class="coll_tilte">Our Collection</h2>
        <ul class="coll_list">
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_1_deck_1x-min.jpg 1x, /img/our_collect_pick_1_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_1_tab_1x-min.jpg 1x, /img/our_collect_pick_1_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_1_mob_1x-min.jpg 1x, /img/our_collect_pick_1_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_1_mob_1x" alt="" />
                    </picture>
                </div>
                <h3 class="coll_item_title first_item">AUGUST Poltava women's blouse RING</h3>
                <p class="coll_item_text">3300 UAH</p>
            </li>
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_2_deck_1x-min.jpg 1x, /img/our_collect_pick_2_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_2_tab_1x-min.jpg 1x, /img/our_collect_pick_2_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_2_mob_1x-min.jpg 1x, /img/our_collect_pick_2_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_2_mob_1x" alt=""/>
                    </picture>
                </div>
                <h3 class="coll_item_title">Women's blouse Gorgany</h3>
                <p class="coll_item_text">3350 UAH</p>
            </li>
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_3_deck_1x-min.jpg 1x, /img/our_collect_pick_3_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_3_tab_1x-min.jpg 1x, /img/our_collect_pick_3_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_3_mob_1x-min.jpg 1x, /img/our_collect_pick_3_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_3_mob_1x" alt=""/>
                    </picture>
                </div>
                <h3 class="coll_item_title">Women's blouse Crimea</h3>
                <p class="coll_item_text">4000 UAH</p>
            </li>
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_4_deck_1x-min.jpg 1x, /img/our_collect_pick_4_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_4_tab_1x-min.jpg 1x, /img/our_collect_pick_4_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_4_mob_1x-min.jpg 1x, /img/our_collect_pick_4_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_4_mob_1x" alt=""/>
                    </picture>
                </div>
                <h3 class="coll_item_title">Men's shirt Verkhovina</h3>
                <p class="coll_item_text">3100 UAH</p>
            </li>
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_5_deck_1x-min.jpg 1x, /img/our_collect_pick_5_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_5_tab_1x-min.jpg 1x, /img/our_collect_pick_5_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_5_mob_1x-min.jpg 1x, /img/our_collect_pick_5_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_5_mob_1x" alt=""/>
                    </picture>
                </div>
                <h3 class="coll_item_title">Mountain men's shirt</h3>
                <p class="coll_item_text">3300 UAH</p>
            </li>
            <li class="coll_item">
                <div class="our_coll_box_img">
                    <picture>
                        <!-- <source
                          srcset="/img/ 1x, /img/ 2x" media="(min-width: 1440px)"/> -->
                        <source
                          srcset="/img/our_collect_pick_6_deck_1x-min.jpg 1x, /img/our_collect_pick_6_deck_2x-min.jpg 2x" media="(min-width: 1280px)"/>
                        <source
                          srcset="/img/our_collect_pick_6_tab_1x-min.jpg 1x, /img/our_collect_pick_6_tab_2x-min.jpg 2x" media="(min-width: 768px)"/>
                        <source
                          srcset="/img/our_collect_pick_6_mob_1x-min.jpg 1x, /img/our_collect_pick_6_mob_2x-min.jpg 2x " media="(max-width: 767px)"/>
                        <img class="our_coll_img" src="./proj_pick/our_collect_pick_6_mob_1x" alt=""/>
                    </picture>
                </div>
                <h3 class="coll_item_title">Men's shirt Yasen</h3>
                <p class="coll_item_text">1700 UAH</p>
            </li>
        </ul>
    </div>
</section> 
