<section class="testimonials">
  <div class="container">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            srcset="./img/testimonial_1_deck_1x-min.jpg x1, ./img/testimonial_1_deck_2x-min.jpg x2"
          />
          <source
            srcset="./img/testimonial_1_mob_1x-min.jpg x1, ./img/testimonial_1_mob_2x-min.jpg x2"
          />
        </picture>
        <img
          src="./img/testimonial_1_deck_1x-min.jpg"
          alt="Maria Tkachuk"
          class="item-photo"
        />
        <h3 class="item-title">Maria Tkachuk</h3>
        <p class="item-text">
          I was pleasantly surprised by the variety of embroidery offered by
          Vyshyvanka Vibes. They have models for every taste - from classic to
          modern. I bought an embroidered dress to celebrate a special occasion
          and received impeccable service and refinement in every detail.
        </p>
      </li>
      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            srcset="./img/testimonial_2_deck_1x-min.jpg x1, ./img/testimonial_2_deck_2x-min.jpg x2"
          />
          <source
            srcset="./img/testimonial_2_mob_1x-min.jpg x1, ./img/testimonial_2_mob_2x-min.jpg x2"
          />
        </picture>
        <img
          src="./img/testimonial_2_deck_1x-min.jpg"
          alt="Sergey Rybachok"
          class="item-photo"
        />
        <h3 class="item-title">Sergey Rybachok</h3>
        <p class="item-text">
          Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
          simply masterpieces! I fell in love with the quality of the materials
          and the skill of the artisans behind each product. This is my favorite
          embroidery shop where I always find something special and unique.
        </p>
      </li>
      <li class="testimonials-item">
        <picture class="testimonials-picture">
          <source
            srcset="./img/testimonial_3_deck_1x-min.jpg x1, ./img/testimonial_3_deck_2x-min.jpg x2"
          />
          <source
            srcset="./img/testimonial_3_mob_1x-min.jpg x1, ./img/testimonial_3_mob_2x-min.jpg x2"
          />
        </picture>
        <img
          src="./img/testimonial_3_deck_1x-min.jpg"
          alt="Natalia Chatuk"
          class="item-photo"
        />
        <h3 class="item-title">Natalia Chatuk</h3>
        <p class="item-text">
          Vyshyvanka Vibes is a real find for everyone who appreciates Ukrainian
          culture. Their embroidery reflects the spirit and traditions of our
          people. I not only buy embroidered shirts for myself, but also give
          them to my friends abroad as a symbol of our beauty and national
          pride.
        </p>
      </li>
    </ul>
  </div>
</section>
