
<section class="container your-order">
  <h2 class="your-order-slogan">
    <span class="yellow-slogan">Your order</span> is our priority: Personalized approach and quality of service
  </h2>
  <form action="" autocomplete="on">
    <input type="text" name="username" placeholder="Enter your full name" pattern="" required>
    <input type="email" name="email" placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <textarea name="comments" placeholder="Comments"></textarea>
    <button type="submit">
        send
        <svg>
            <use ></use>
        </svg>    
    </button>
    <img src="" alt="choice of company">
  </form>
  
  
</section>
