
<section class="section your-order" id="your-order-sec">
  <div class="container your-order-cont">
    <div class="your-order-div">
      <div>
        <h2 class="your-order-slogan" id="your-order">
          <span class="yellow-slogan">Your order</span> is our priority: Personalized approach and quality of service
        </h2>
        <form class="form" autocomplete="on">
          <input class="input" type="text" name="username" placeholder="Enter your full name" pattern="" required>
          <input class="input" type="email" name="email" placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <textarea class="input comments" name="comments" placeholder="Comments"></textarea>
          <button class="button" type="submit">
              send
              <svg class="button-icon">
                  <use href="../img/social-svg.svg#icon-arrow"></use>
              </svg>    
          </button>
               
        </form>
        
      </div>
      <picture class="choice-pict">

        <source media="min-width:1280px" srcset="./img/our_order_deck_1x-min.jpg x1, ./img/our_order_deck_1x-min.jpg x2">
        <source media="min-width:768px" srcset="./img/our_order_tab_1x-min.jpg x1, ./img/our_order_tab_1x-min.jpg x2">
        <img src="./img/our_order_tab_1x-min.jpg" alt="choice of company">

       
      </picture>
    </div>
    
  </div>
   
</section>
