body {
  font-family: Manrope;
  margin: 0;
  padding: 0;
  background-color: #1c2225;
  color: #fcf9f9;
}
.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
/* .container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
} */
html {
  scroll-behavior: smooth;
}
