.container {
  max-width: 378px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 87px;
}
.li-nav:first-child {
  display: none;
}
.nav-one {
  display: none;
  pointer-events: none;
  opacity: 0;
}
.svg-icon {
  width: 44px;
  height: 39px;
}
.teleph {
  display: none;
}
.header-container {
  height: 56px;
  display: flex;
  align-items: center;
  max-width: 375px;
  justify-content: center;
}
.social-div {
  display: flex;
}
.ul-nav {
  display: flex;
  gap: 12px;
}

.li-nav {
  display: flex;
  align-items: center;
}

.li-nav-one {
  display: none;
}
.header-social-svg {
  width: 44px;
  height: 39px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-social-svg:hover,
.header-social-svg:focus {
  border: 1px solid var(--yellow, #ecd979);
}

.menu-icon {
  width: 36px;
  height: 24px;
}
.button-menu {
  background-color: transparent;
  border: none;
  display: flex;
  width: 36px;
  height: 24px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
  .header-nav {
    gap: 440px;
  }
  .header-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .header-nav {
    gap: 60px;
  }
  .header-container {
    gap: 129px;
  }
  .nav-one {
    display: flex;
  }
  .navigation-one {
    display: flex;
    gap: 25px;
  }

  .icon-nav {
    display: none;
  }
  .li-nav-one {
    display: flex;
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28em;
    text-transform: uppercase;
    flex-direction: row;
    align-items: center;
  }
  .navli {
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navli:hover,
  .navli:focus {
    color: #ecd979;
  }
  .li-nav:first-child {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .li-nav:first-child:hover,
  .li-nav:first-child:focus {
    border: 1px solid var(--yellow, #ecd979);
  }
  .button-menu {
    display: none;
  }
  .teleph {
    display: flex;
    padding: 14px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .teleph:hover {
    border: 1px solid var(--yellow, #ecd979);
  }
  .tel-text {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    text-transform: uppercase;
  }
}

.menu-background {
  width: 274px;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #ecd979;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.menu {
  height: 100%;

  padding: 20px;
  position: relative;
  color: #1c2225;
  background-image: url(../img/ornamen_mob_menu-min.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.menu-btm {
  border: none;
  background-color: #ecd979;
  padding: 0;
  width: 36px;
  height: 36px;
  position: fixed;
  top: 21px;
  right: 20px;
}

.menu-icon-x {
  fill: transparent;
  stroke: #1c2225;
}

.address-link {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  text-transform: uppercase;
}

.address-list-item {
  width: 158px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(28, 34, 37, 0.1);
}

.menu-nav {
  position: fixed;
  top: 244px;
  right: 20px;
}

.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-item {
  margin-left: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
}

.menu-icon-x-2 {
  display: none;
  fill: transparent;
  stroke: #1c2225;
}

@media screen and (min-width: 768px) {
  .menu-background {
    width: 380px;
  }
  .menu-icon-x {
    display: none;
  }
  .menu-icon-x-2 {
    display: block;
  }
  .menu-btm {
    top: 20px;
    right: 32px;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .address-list-item {
    width: 193px;
    height: 48px;
  }
  .address-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
  }
  .navigation-list {
    gap: 25px;
  }
  .menu-nav {
    top: 291px;
    right: 32px;
  }
  .menu {
    padding: 20px 32px;
    background-image: url(../img/ornamen_tab_menu-min.png);
    background-repeat: no-repeat;
    background-size: 100% 364px;
    background-position: bottom;
  }
}
@media screen and (max-width: 374px) {
  .header-nav {
    gap: 32px;
  }
}
