.header {
  background-color: #1c2225;
  width: 375px;
  height: 52px;
  display: flex;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-one {
  display: none;
}
.header-container {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 87px;
}
.svg-icon {
  width: 44px;
  height: 39px;
  flex-shrink: 0;
  display: flex;
  justify-content: start;
}
.ul-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header-social-svg {
  width: 44px;
  height: 39px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
}
.header-social-svg:hover {
  border: 1px solid var(--yellow, #ecd979);
}

.menu-icon {
  width: 36px;
  height: 24px;
}
.button-menu {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 32px;
  }

  .header-container {
    gap: 440px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
  .header-nav {
    gap: 60px;
  }
  .header-container {
    gap: 129px;
  }
  .nav-one {
    display: flex;
  }
  .navigation-one {
    display: flex;
    gap: 25px;
  }
  .li-nav-one {
    color: #fcf9f9;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28em;
    text-transform: uppercase;
  }
}
