h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  background: #1c2225;
}
.testimonials {
  padding: 150px 0;
}
.testimonials-title {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -1.32px;
  margin-bottom: 40px;
}

.testimonials-list {
  display: inline-flex;
  gap: 40px;
}
.testimonials-item {
  display: flex;
  padding: 0px 18px 18px 18px;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.item-photo {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
  margin-top: -28px;
  margin-bottom: 14px;
}
.item-title {
  color: #fcf9f9;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}
.item-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (min-width: 374px) {
  .testimonials {
    padding: 80px 20px;
  }

  .testimonials-title {
    font-size: 32px;
  }

  .testimonials-list{
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .testimonials-item{
    display: none;
  }

  .testimonials-item:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 335px;
    height: 243px;
    
  }
  
  .item-photo {
    width: 64px;
    height: 64px;
  }

  .item-title {
    font-size: 20px;
  }

  .item-text {
    font-size: 16px;
  }
}
@media screen and (min-width:768px) {

    .testimonials {
        padding: 100px 32px;
      }
    
      .testimonials-title {
        font-size: 32px;
      }
    
      .testimonials-list{
        gap: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
      .testimonials-item{
        display: none;
      }
    
      .testimonials-item:nth-child(1){
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 335px;
        height: 243px;
      }

      .testimonials-item:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 335px;
        height: 243px;
      }
      
      .item-photo {
        width: 64px;
        height: 64px;
      }
    
      .item-title {
        font-size: 20px;
      }
    
      .item-text {
        font-size: 16px;
      }
}
@media screen and (min-width:1280px) {
    .testimonials {
        padding: 150px 0;
    }
    .testimonials-title {
        font-size: 44px;
        font-family: Manrope;
      }

    .testimonials-list{
        gap: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .testimonials-item {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 335px;
        height: 243px;
    }
}



